---
import AddProductButton from '@components/AddProductButton.tsx';
import SizeButtons from '@components/SizeButtons';
import SizingGuideLink from '@components/SizingGuideLink.astro';
import OrderProgressBar from './OrderProgressBar.astro';
import { createHumanReadablePrice } from '@utils/currency';

interface Props {
  id: string;
  title: string;
  price?: number;
  sex: string;
  sizes?: Record<string, { stripeProductId: string }>;
  orderCount?: number;
  fitUrl?: string;
}

const { id, title, price, sex, sizes, orderCount, fitUrl } = Astro.props;

const [dropTitle, dropSubtitle] = title.split(' - ');
---

<div class="w-full max-w-md shrink-0 overflow-scroll p-3">
  <h5 class="text-md font-bold tracking-widest text-black uppercase">
    {dropSubtitle}
  </h5>
  <h4
    class="overflow-hidden text-3xl font-light text-nowrap text-ellipsis text-black"
    title={dropTitle}
  >
    {dropTitle}
  </h4>

  <p class="mt-1 pb-1 tracking-wide">
    {sex}
  </p>

  {orderCount !== undefined && <OrderProgressBar orderCount={orderCount} />}

  {
    price && (
      <p class="mt-1 pb-3 tracking-wide">{createHumanReadablePrice(price)}</p>
    )
  }
</div>

{
  price && sizes && (
    <>
      <SizeButtons id={id} sizes={Object.keys(sizes)} client:only="preact" />
      <SizingGuideLink fitUrl={fitUrl} />
      <div class="flex w-full max-w-md justify-center pb-3">
        <AddProductButton
          productId={id}
          availableSizes={Object.keys(sizes)}
          client:only="preact"
        />
      </div>
    </>
  )
}
