---
import OverlayImage from './OverlayImage.astro';
import Content from './Content.astro';

interface Props {
  id: string;
  title: string;
  price?: number;
  productImageUrl: string;
  overlayImageUrl?: string;
  videoUrl?: string;
  sex: string;
  sizes?: Record<string, { stripeProductId: string }>;
  orderCount?: number;
  fitUrl?: string;
}

const {
  id,
  title,
  price,
  productImageUrl,
  overlayImageUrl,
  videoUrl,
  sex,
  sizes,
  orderCount,
  fitUrl,
} = Astro.props;
---

<div
  tabindex="0"
  class="group relative block w-full max-w-2/3 min-w-2/3 overflow-hidden md:max-w-1/2 md:min-w-0 md:flex-1/3 lg:max-w-1/3 lg:flex-1/4"
>
  {
    (overlayImageUrl || videoUrl) && (
      <OverlayImage
        title={title}
        overlayImageUrl={overlayImageUrl}
        videoUrl={videoUrl}
      />
    )
  }
  <div
    class="flex w-full flex-col items-center justify-center group-focus-within:visible"
  >
    <div class="flex aspect-4/5 w-full max-w-50 items-center justify-center">
      <img
        src={productImageUrl}
        alt={title}
        class="h-full w-full object-contain"
      />
    </div>
    <Content
      id={id}
      title={title}
      price={price}
      sex={sex}
      sizes={sizes}
      orderCount={orderCount}
      fitUrl={fitUrl}
    />
  </div>
</div>
