---
import Header from '@components/Header.astro';
import ProductCardWithOverlay from '@components/ProductCardWithOverlay.astro';
import { getProducts } from '@utils/products';
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';

const products = getProducts();
---

<Layout>
  <Header>
    <h1
      class="font-cursive text-primary mt-4 mb-20 -rotate-12 tracking-widest sm:mb-40 md:mb-30 xl:-translate-14"
    >
      Invincible
      <br class="hidden md:inline" />
      Yellow
    </h1>

    <h4 class="font-bold text-white uppercase">New Drop</h4>

    <p class="z-50 mt-4 max-w-xl text-2xl text-white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
      praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
      natus?
    </p>
    <Button url="/products"> Discover Now </Button>
  </Header>

  <div class="mt-8 flex w-full flex-wrap justify-center gap-8">
    {
      products.map((product, index) => (
        <ProductCardWithOverlay
          id={product.id}
          imageUrls={product.imageUrls}
          videoUrl={product.videoUrl}
          title={product.title}
          price={product.price}
          sex={product.sex}
          index={index}
        />
      ))
    }
  </div>
</Layout>
