---
import Header from '@components/Header.astro';
import { getProducts, getProductOrderCounts } from '@utils/products';
import { getOrderedQuantities } from '@utils/backend';
import { getOrderedQuantities as stripeOrdered } from '@utils/stripe';
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';
import Main from '@components/Main.astro';
import DropBanner from '@components/DropBanner/index.astro';

import logo from '@images/attakk_studios_black.svg';

export const prerender = false;

const products = getProducts();

await stripeOrdered();
const priceQuantities = await getOrderedQuantities();
const orderCounts = getProductOrderCounts(priceQuantities);
---

<Layout>
  <Header>
    <img
      src={logo.src}
      alt="Attakk Studios Logo"
      class="m-auto mt-10 mb-20 h-20"
    />

    <p class="z-50 mt-4 max-w-xl text-2xl text-white">
      Where clarity meets pressure, and movement has intent. We build limited
      drops for those who ride with purpose — and don’t just follow.
    </p>
    <Button url="/products"> Discover Now </Button>
  </Header>

  <Main>
    <DropBanner
      products={products}
      orderCounts={orderCounts}
      colors={{ primary: '#124483', secondary: '#f5d365', tertiary: '#d5202e' }}
    >
      <h1
        class="font-cursive text-secondary mt-4 mb-20 -rotate-12 tracking-widest sm:mb-40 md:mb-30 xl:ml-12 xl:-translate-14"
      >
        Eternal
        <br class="hidden md:inline" />
        Ice
      </h1>

      <h4 class="font-bold text-white uppercase">New Drop</h4>

      <p class="z-50 mt-4 min-h-0 max-w-xl text-2xl text-white">
        Ice cold clarity - no matter the chaos. The Eternal Ice Race Suit is
        built for moments when vision blurs, legs burn and everything screams
        for you to slow down. But instead you double-up. You stay sharp. You
        stay ice cold. You attakk with ice in your veins..
      </p>
      <p class="z-50 mt-4 max-w-xl text-xl text-white italic">
        Limited drop only.
      </p>
      <Button> Discover Now </Button>
    </DropBanner>

    <DropBanner
      products={products}
      orderCounts={orderCounts}
      colors={{ primary: '#f5d365', secondary: '#d5202e', tertiary: '#124483' }}
    >
      <h1
        class="font-cursive text-secondary mt-0 mb-20 -rotate-12 tracking-widest sm:mb-40 md:mb-30 xl:ml-12 xl:-translate-14"
      >
        Invincible
        <br class="hidden md:inline" />
        Yellow
      </h1>

      <h4 class="font-bold text-white uppercase">Same energy. New format.</h4>

      <p class="z-50 mt-4 max-w-xl text-2xl text-white">
        The iconic Invincible Yellow is back – this time as a jersey only. No
        reprint of the RS25 suit. Just the unmistakable color, stripped down for
        everyday intensity. Built with GoBik’s featherweight race fabric, it’s
        ready for punchy group rides, solo missions and post-ride espresso
        stops. Loud, fast, and unapologetically ATTAKK.
      </p>
      <Button> Discover Now </Button>
    </DropBanner>
  </Main>
</Layout>
