---
import Header from '@components/Header.astro';
import { getProductOrderCounts, getProductsByDrop } from '@utils/products';
import { getOrderedQuantities } from '@utils/backend';
import { getOrderedQuantities as stripeOrdered } from '@utils/stripe';
import { getAllDrops } from '@content/drops';
import Layout from '@layouts/Layout.astro';
import Button from '@components/Button.astro';
import Main from '@components/Main.astro';
import DropBanner from '@components/DropBanner/index.astro';

import logo from '@images/attakk_studios_white.svg';

export const prerender = false;

const drops = getAllDrops();

await stripeOrdered();
const priceQuantities = await getOrderedQuantities();
const orderCounts = getProductOrderCounts(priceQuantities);
---

<Layout>
  <Header>
    <img
      src={logo.src}
      alt="Attakk Studios Logo"
      class="m-auto mt-10 mb-20 h-25"
    />

    <p class="z-50 mt-4 max-w-xl text-2xl text-white">
      Where clarity meets pressure, and movement has intent. We build limited
      drops for those who ride with purpose — and don’t just follow.
    </p>
    <Button url="/products"> Discover Now </Button>
  </Header>

  <Main>
    {
      drops.map((drop) => {
        const products = getProductsByDrop(drop.id);
        return (
          <DropBanner
            products={products}
            orderCounts={orderCounts}
            colors={drop.colors}
            backgroundImage={drop.backgroundImage}
          >
            <h1 class="font-cursive text-secondary mb-20 tracking-widest sm:mb-40 md:mb-30 xl:ml-12">
              {drop.titleDisplay}
              {drop.titleSuffix}
            </h1>

            <h4 class="font-bold text-white uppercase">{drop.badge}</h4>

            <p class="z-50 mt-4 min-h-0 max-w-xl text-2xl text-white">
              {drop.description}
            </p>
            {drop.longDescription && (
              <p class="z-50 mt-4 max-w-xl text-xl text-white italic">
                {drop.longDescription}
              </p>
            )}
            <Button> Discover Now </Button>
          </DropBanner>
        );
      })
    }
  </Main>
</Layout>
