---
import Header from '@components/Header.astro';
import Main from '@components/Main.astro';
import ProductCard from '@components/ProductCard/index.astro';
import {
  getProducts,
  getPassedProducts,
  getProductOrderCounts,
} from '@utils/products';
import { getOrderedQuantities } from '@utils/backend';
import Layout from '@layouts/Layout.astro';

const products = getProducts();
const passedProducts = getPassedProducts();

const priceQuantities = await getOrderedQuantities();
const orderCounts = getProductOrderCounts(priceQuantities);
---

<Layout>
  <Header>
    <h2 class="text-primary">Product Collection</h2>

    <p class="mt-4 max-w-md text-white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
      praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
      natus?
    </p>
  </Header>
  <Main>
    <h1 class="font-cursive text-primary my-4 tracking-widest">
      Invincible Yellow
    </h1>
    <div class="flex w-full flex-wrap justify-center gap-8">
      {
        products.map((product) => (
          <ProductCard
            id={product.id}
            productImageUrl={product.imageUrls[0]}
            title={product.title}
            price={product.price}
            sex={product.sex}
            sizes={product.sizes}
            orderCount={orderCounts[product.id]}
          />
        ))
      }
    </div>

    <h1 class="font-cursive tracking-widestb my-4 border-t-2 pt-4">
      Passed Drops
    </h1>
    <div class="mx-auto flex w-full flex-wrap justify-center">
      {
        passedProducts.map((product) => (
          <ProductCard
            id={product.id}
            productImageUrl={product.imageUrls[0]}
            overlayImageUrl={product.imageUrls[1]}
            title={product.title}
            sex={product.sex}
          />
        ))
      }
    </div>
  </Main>
</Layout>
