---
import Header from '@components/Header.astro';
import Main from '@components/Main.astro';
import ProductCard from '@components/ProductCard/index.astro';
import Drop from '@components/Drop.astro';
import {
  getPassedProducts,
  getProductOrderCounts,
  getProductsByDrop,
} from '@utils/products';
import { getOrderedQuantities } from '@utils/backend';
import { getAllDrops } from '@content/drops';
import Layout from '@layouts/Layout.astro';

export const prerender = false;

const drops = getAllDrops();
const passedProducts = getPassedProducts();

const priceQuantities = await getOrderedQuantities();
const orderCounts = getProductOrderCounts(priceQuantities);
---

<Layout>
  <Header>
    <h2 class="text-white">Product Collection</h2>

    <p class="mt-4 max-w-md text-white">
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
      praesentium cumque iure dicta incidunt est ipsam, officia dolor fugit
      natus?
    </p>
  </Header>
  <Main>
    {
      drops.map((drop) => {
        const products = getProductsByDrop(drop.id);
        return (
          <Drop
            title={drop.title}
            colors={drop.colors}
            backgroundImage={drop.backgroundImage}
          >
            {products.map((product) => (
              <ProductCard
                id={product.id}
                productImageUrl={product.imageUrls[0]}
                title={product.title}
                price={product.price}
                sex={product.sex}
                sizes={product.sizes}
                orderCount={orderCounts[product.id]}
                fitUrl={product.fitUrl}
              />
            ))}
          </Drop>
        );
      })
    }

    <Drop
      title="Passed Drops"
      colors={{ primary: 'white', secondary: 'black', tertiary: '#d5202e' }}
    >
      {
        passedProducts.map((product) => (
          <ProductCard
            id={product.id}
            productImageUrl={product.imageUrls[0]}
            overlayImageUrl={product.imageUrls[1]}
            title={product.title}
            sex={product.sex}
          />
        ))
      }
    </Drop>
  </Main>
</Layout>
