---
import Header from '@components/Header.astro';
import Main from '@components/Main.astro';
import ProductCard from '@components/ProductCard/index.astro';
import Drop from '@components/Drop.astro';
import {
  getPassedProducts,
  getProductOrderCounts,
  getProductsByDrop,
} from '@utils/products';
import { getOrderedQuantities } from '@utils/backend';
import { getAllDrops } from '@content/drops';
import Layout from '@layouts/Layout.astro';

export const prerender = false;

const orderingEnabled = import.meta.env.ORDERING_ENABLED !== 'false';

const drops = getAllDrops();
const passedProducts = getPassedProducts();

const orderCounts = orderingEnabled
  ? getProductOrderCounts(await getOrderedQuantities())
  : {};
---

<Layout>
  <Header>
    <h2 class="text-white">Product Collection</h2>
  </Header>
  <Main>
    {
      drops.map((drop) => {
        const products = getProductsByDrop(drop.id);
        return (
          <Drop
            id={drop.id}
            title={drop.title}
            colors={drop.colors}
            bannerTextColor={drop.bannerTextColor}
            backgroundImage={drop.backgroundImage}
          >
            {products.map((product) => (
              <ProductCard
                id={product.id}
                productImageUrl={product.imageUrls[0]}
                title={product.title}
                price={orderingEnabled ? product.price : undefined}
                sex={product.sex}
                sizes={orderingEnabled ? product.sizes : undefined}
                orderCount={
                  orderingEnabled ? orderCounts[product.id] : undefined
                }
                fitUrl={orderingEnabled ? product.fitUrl : undefined}
              />
            ))}
          </Drop>
        );
      })
    }

    <Drop
      id="passed-drops"
      title="Passed Drops"
      colors={{ primary: 'black', secondary: 'black', tertiary: '#d5202e' }}
      bannerTextColor="white"
    >
      {
        passedProducts.map((product) => (
          <ProductCard
            id={product.id}
            productImageUrl={product.imageUrls[0]}
            overlayImageUrl={product.imageUrls[1]}
            title={product.title}
            sex={product.sex}
          />
        ))
      }
    </Drop>
  </Main>
</Layout>
