---
import AddProductButton from '@components/AddProductButton.tsx';
import SizeButtons from './SizeButtons';
import { createHumanReadablePrice } from '@utils/currency';

interface Props {
  id: string;
  title: string;
  price?: number;
  sex: string;
  imageUrl: string;
}

const { id, title, price, imageUrl, sex } = Astro.props as Props;

const [dropTitle, dropSubtitle] = title.split(' - ');
---

<div
  class="flex h-full w-full flex-col items-center justify-center group-focus-within:visible"
>
  <img src={imageUrl} alt="" class="h-full w-full max-w-md object-cover" />

  <div class="w-full max-w-md p-3">
    <h5 class="text-md font-bold tracking-widest text-black uppercase">
      {dropSubtitle}
    </h5>
    <h4 class="text-3xl font-light text-black">{dropTitle}</h4>

    <p class="mt-1 pb-1 tracking-wide">
      {sex}
    </p>

    {
      price && (
        <p class="mt-1 pb-3 tracking-wide">{createHumanReadablePrice(price)}</p>
      )
    }
  </div>

  {
    price && (
      <>
        <SizeButtons
          id={id}
          sizes={['S', 'M', 'L', 'XL']}
          client:only="preact"
        />
        <div class="flex w-full max-w-md justify-center pb-3">
          <AddProductButton productId={id} client:only="preact" />
        </div>
      </>
    )
  }
</div>
