---
import AddProductButton from '@components/AddProductButton.tsx';
import SizeButtons from './SizeButtons';

interface Props {
  id: string;
  title: string;
  price: number;
  sex: string;
  imageUrls: [string, string];
}

const { id, title, price, imageUrls, sex } = Astro.props as Props;

const [dropTitle, dropSubtitle] = title.split(' - ');
---

<div
  class="flex h-full w-full flex-col items-center justify-center group-focus-within:visible"
>
  <img src={imageUrls[1]} alt="" class="h-full w-full max-w-md object-cover" />

  <div class="w-full max-w-md p-3">
    <h4 class="text-black">{dropSubtitle}</h4>
    <h3
      class="decoration-primary group-hover:underline group-hover:underline-offset-4"
    >
      {dropTitle}
    </h3>

    <p class="mt-1 pb-1 tracking-wide">
      {sex}
    </p>

    <p class="mt-1 pb-3 tracking-wide">
      {`${price}.00 CHF`}
    </p>
  </div>
  <SizeButtons id={id} sizes={['S', 'M', 'L', 'XL']} client:only="preact" />
  <div class="flex w-full max-w-md justify-center pb-3">
    <AddProductButton productId={id} client:only="preact" />
  </div>
</div>
