---
/* eslint-disable astro/jsx-a11y/no-noninteractive-tabindex */
import ProductCardOverlay from './ProductCardOverlay.astro';
import ProductCard from './ProductCard.astro';

interface Props {
  id: string;
  title: string;
  price?: number;
  imageUrls: string[];
  videoUrl?: string;
  index?: number;
  sex: string;
}

const { id, title, price, imageUrls, videoUrl, index, sex } =
  Astro.props as Props;
---

<div
  tabindex="0"
  class="group relative block w-full overflow-hidden md:max-w-1/3 md:flex-1/4"
>
  {
    (imageUrls.length > 1 || videoUrl) && (
      <ProductCardOverlay
        title={title}
        imageUrl={imageUrls[1]}
        index={index}
        videoUrl={videoUrl}
      />
    )
  }
  <ProductCard
    id={id}
    title={title}
    price={price}
    imageUrl={imageUrls[0]}
    sex={sex}
  />
</div>
