---
import Banner from '@components/Banner.astro';
import ProductCard from '@components/ProductCard/index.astro';
import ViewAllLink from './ViewAllLink.astro';
import type { Product } from '@content/products';
import Overlay from './Overlay.astro';

interface Props {
  products: Product[];
  orderCounts: Record<string, number>;
  colors?: {
    primary?: string;
    secondary?: string;
    tertiary?: string;
  };
}

const { products, orderCounts, colors } = Astro.props;

const firstTwoProducts = products.slice(0, 2);

const styleVars = [
  colors?.primary && `--color-primary: ${colors.primary}`,
  colors?.secondary && `--color-secondary: ${colors.secondary}`,
  colors?.tertiary && `--color-tertiary: ${colors.tertiary}`,
]
  .filter(Boolean)
  .join('; ');
---

<Banner>
  <div
    class="group relative mt-8 box-border flex min-h-180 items-center"
    style={styleVars || undefined}
  >
    <Overlay>
      <slot />
    </Overlay>
    <div class="relative z-0 h-full p-8">
      <div class="flex w-full justify-between gap-8 overflow-auto">
        {
          firstTwoProducts.map((product) => (
            <ProductCard
              id={product.id}
              productImageUrl={product.imageUrls[0]}
              title={product.title}
              price={product.price}
              sex={product.sex}
              sizes={product.sizes}
              orderCount={orderCounts[product.id]}
            />
          ))
        }

        <ViewAllLink products={products} />
      </div>
    </div>
  </div>
</Banner>
